includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	# Start with level 6–8; raise to 'max' once green.
	level: 7

	paths:
		- src
		- tests

	autoload_directories:
		- src
	bootstrapFiles:
		- vendor/autoload.php

	tmpDir: var/phpstan

	excludePaths:
		analyse:
			- vendor/*

	ignoreErrors: []

	# Tighten up null/array/string handling when you're ready
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: true
